BODY
{
  	FONT-FAMILY: Arial;
  	FONT-SIZE: 9pt;
  	MARGIN: 10px;
  	PADDING: 1px;
  	background-color: #FFFFF0;
}

H1
{
	FONT-SIZE: 16pt;
  	font-weight: bold;
}

table,td
{
	border: 1.5px solid #21252B;
	border-collapse:collapse;
}

table.memberships
{
	background-color: #E0E5E9;
	color: #21252B;
	width: 400px;

}

td
{
	text-align: center;
	width: 100px;
}